/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant/machines/appli-com/virtualbox/action_set_name
.vagrant/machines/appli-com/virtualbox/action_set_name
