body {
    background-color: #011c3a;
    font-family: Nunito, sans-serif;
}

/* HEADERS */

.headerOne {
    text-align: center;
    color: #edeff0;
    margin-top: 5%;
    margin-bottom: 2.5%;
    font-size: 2rem;
}

.headerTwo {
    color: #edbd16;
    margin-bottom: 10%;
    text-align: center;
    margin-top: 5%;
    font-size: 1.5rem;
}

/* INDEXPAGINA APPLI */

.indexContainer {
    margin-top: 8%;
}

.indexLogin {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #edbd16;
    background-color: #edbd16;
    width: 300px;
    height: 50px;
    margin-left: 25%;
}

.indexRegister {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #edbd16;
    background-color: #edbd16;
    width: 300px;
    height: 50px;
    margin-left: 20%;
}

.indexLoginLinkP {
    color: #011c3a;
    text-align: center;
    margin-top: 3.5%;
}

.indexRegisterLinkP {
    color: #011c3a;
    text-align: center;
    margin-top: 3.5%;
}

.indexImage {
    margin-top: 2.5%;
    margin-left: 45%;
    height: 80px;
}

/* login */

.logo {
    width: 10em;
    height: auto;
    margin-top: 4%;
    margin-left: 45.5%;
}

.form-group {
    color: #011c3a;
}

.login-dark form {
    max-width: 400px;
    /* width: 90%; */
    background-color: #edeff0;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 28%;
    left: 51%;
}

.login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #edbd16;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.img-fluid.loginLogo {
    width: 10%;
    margin-top: 4%;
    margin-left: 46.5%;
}

.icon.ion-ios-locked-outline {
    color: #00cf8d;
}

.btn {
    background-color: #00cf8d;
    /*color: #EDEFF0;*/
}

.forgot {
    text-align: center;
    margin: 5px;
    color: #011c3a;
    font-size: 14px;
    text-decoration: underline;
}

/* REGISTER */
.registerDiv {
    margin-bottom: 25%;
}

#logoRegister {
    margin-top: 2.5%;
    margin-left: 45%;
    height: 50px;
}

.formRegister {
    margin-top: 10%;
}

.form-control {
    background-color: #edeff0;
}

.form-check-label {
    color: #edbd16;
    margin-bottom: 10%;
    margin-top: 2.5%;
}

#isStudent {
    border-color: #edbd16;
}

#registerbutton {
    background-color: #00cf8d;
    width: 100px;
    margin-left: 35%;
    margin-top: 5%;
    border: none;
    border-radius: 8px;
}

#already {
    text-align: center;
    margin-left: 10%;
    /*margin-top: 139%;*/
    color: #011c3a;
    font-size: 14px;
    text-decoration: underline;
}

/* NAVIGATION */

.navbar.navbar-light.navbar-expand-md.sticky-top.navigation-clean-button {
    background-color: #0e0e2c;
    color: #eaeaea;
    height: 80px;
}

/* CREATE COMPANY */

#createExplain p {
    color: #edeff0;
    text-align: center;
    font-size: 1em;
}

.form-group {
    color: #011c3a;
}

#createFormGroup label {
    font-size: 18px;
    color: #edbd16;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
    font-weight: 500;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#title {
    border-color: #edbd16;
    background-color: #edeff0;
    border: solid 1px #edbd16;
    border-radius: 8px;
}

.form-control.descInput {
    border-color: #edbd16;
    background-color: #edeff0;
    border: solid 1px #edbd16;
    border-radius: 8px;
    /*margin-left: 10;*/
}

.createLabel {
    margin-right: 3%;
    /*margin-bottom: 10%;*/
}

#createBtn {
    width: 20%;
    margin-top: 2.5%;
    margin-left: 40%;
    border-radius: 8px;
}

.createGrid {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    /*grid-template-rows: repeat(3, 1fr);*/
    /*grid-column-gap: 29px;*/
    /*grid-row-gap: 10px;*/
    margin-top: 2%;
}

.grid {
    display: inline-flex;
    margin-left: 8%;
    margin-top: 2%;
}

/* SHOW INTERNSHIP */

.card {
    margin: 3%;
}

/* SHOW COMPANY */

.companyCard {
    height: 400px;
}

#card-body {
    background-color: #fefefe;
    text-align: center;
}

.fieldInformation {
    border: 1px solid;
    border-radius: 5px;
    border-color: #edbd16;
    /*height: auto;*/
    /*text-align: left;*/
    margin-top: 10px;
    background-color: #eaeaea;
    width: 90%;
}

#editLabel {
    color: #edbd16;
    font-size: 1.1rem;
    /*font-style: bold;*/
    /*font-weight: bold;*/
    /*display: grid;*/
    /*margin-bottom: -3px;*/
}

iframe {
    height: 80%;
    visibility: visible;
    height: 450;
}

.detailsDiv {
    margin-bottom: 15px;
    display: inline-table;
    margin-top: 10px;
}

div.avatar-bg {
    background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
    background-position: 50% 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 50%;
    margin-left: calc(50% - 100px);
    margin-top: 5%;
}

/* FILTERS */

.filter {
    margin-bottom: 2%;
    margin-top: -1%;
}

.resetFilter {
    color: #edbd16;
    margin-left: 2%;
    text-decoration: underline;
}

/* INDEX STUDENT */

.text-center.headerOne {
    margin-top: -0.5%;
}

.border.rounded.shadow {
    border-radius: 8px;
}

.pagination {
    margin-left: 23%;
}

.page-link {
    background-color: #0e0e2c;
    border-color: #0e0e2c;
    color: #edbd16;
}

/* LABEL */

p {
    color: #eaeaea;
}

td {
    width: 20%;
    height: 100px;
}

.table-responsive {
    background-color: #eaeaea;
    /*border-color: #EDBD16;*/
    border-radius: 8px;
    border-width: 1px;
}

.btn.btn-primary.btnDeclined {
    background-color: darkred;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #edeff0;
    border: none;
}

.btn.btn-primary.btnApproved {
    margin-left: 10%;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #00cf8d;
    color: #edeff0;
    border: none;
}

/* FOOTER */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #0e0e2c;
    padding-top: 20px;
    /* height: 15vh; */
}

.list-inline.text-center {
    margin-left: 3%;
}

a:focus,
a:hover {
    color: #edbd16;
}

#facebook {
    color: #edbd16;
}

#twitter {
    color: #edbd16;
}

#instagram {
    color: #edbd16;
}

#pinterest {
    color: #edbd16;
}

#info {
    color: #edbd16;
}

#envelope {
    color: #edbd16;
}

.profile-name {
    background-color: #00cf8d;
    color: #eaeaea;
    /*font-family: 'Actor', sans-serif;*/
    font-size: 1.2rem;
    /*font-weight: bold;*/
    padding: 5px 0;
    border-radius: 100px;
    max-width: 300px;
    margin: 0 auto 10px auto;
}

.portfolioLink {
    font-size: 1.2rem;
    color: #eaeaea;
    padding: 8%;
    margin: 20px;
}

.profile-back {
    background-color: #edbd16;
    height: 150px;
    margin-bottom: -75px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.profile-card {
    text-align: center;
    /*margin-bottom: 15px;*/
    /*border: 1px solid #9b1f1f;*/
}

.form-control.profileStudentInput {
    background: none;
    border: none;
    border-bottom: 1px solid #edbd16;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.profileLink {
    background-color: #00cf8d;
    color: #eaeaea;
    margin-left: 50%;
    margin-top: 5%;
}

.avatar-bg.center {
    margin-left: 28%;
}

.profileContainer {
    margin-top: 5%;
}

.descriptionField {
    color: #011c3a;
    margin-top: -8%;
}

.profileForm {
    width: 90%;
    background-color: #edeff0;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    /*top: 44%;*/
    left: 50%;
}

.profileGroup {
    background: none;
    border: none;
    border-bottom: 1px solid #edbd16;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.headerThree {
    color: #edbd16;
    /*margin-bottom: 9%;*/
    margin-left: 5%;
    text-align: left;
}

.searchButton {
    background-color: #edbd16;
    color: #edeff0;
    /*margin-top: 2%;*/
    /*margin-left: 2%;*/
    /*height: 40px;*/
    /*text-align: center;*/
    border: none;
    /*font-size: 1.1rem;*/
    border-radius: 8px;
}

.infoSearch {
    text-align: left;
    color: #011c3a;
    font-size: 0.75rem;
    font-style: italic;
    margin-left: 2%;
    margin-top: 2%;
}

.profileFieldLabel {
    font-weight: bold;
}

.card.border.rounded.shadow {
    width: 300px;
    margin: auto;
    margin-bottom: 10%;
}

#headerFour {
    color: #011c3a;
    margin-left: 5%;
    text-align: left;
    opacity: 1;
    font-size: 1.2rem;
}

.btn.btn-light.active.btn-block.moreButton {
    background-color: #00cf8d;
    color: #edeff0;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1.2rem;
    border: none;
}

.explanationParagraph {
    color: #011c3a;
    text-align: left;
    margin-left: 5%;
    font-size: 1rem;
}

.searchButton {
    background-color: #edbd16;
    margin: 2%;
    margin-left: 1.5%;
    border-radius: 8px;
    border: none;
    text-align: center;
}

#motivationForm {
    border-radius: 8px;
    width: 75%;
    margin: auto;
    /*border-color: #EDBD16;*/
    /*border: 1px solid;*/
    border: 2px solid #edbd16;
    font-size: 1rem;
    color: #011c3a;
}

.appLabel {
    color: #edbd16;
    font-size: 1.2rem;
    font-weight: bold;
}
