#footerpad {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #000000;
}

a:focus, a:hover {
  color: #EDBD16;
}

#facebook {
  color: #EDBD16;
}

#twitter {
  color: #EDBD16;
}

#instagram {
  color: #EDBD16;
}

#pinterest {
  color: #EDBD16;
}

#card-body {
  background-color: #FEFEFE;
  text-align: center;
}

#card-title {
  color: #011C3A;
}

#contactinfo {
  color: #011C3A;
}

#contactContainer {
  margin-left: 15%;
  margin-top: 5%;
}

#mobileNav {
  background-color: #011C3A;
  /*width: 2000%;*/
  margin-top: -2.5%;
}

